<div class="container-fluid">
	<hr class="footer-line visible-xs">
	<img class="visible-xs" src="./assets/img/logo-CH.svg"
		 onerror="this.onerror = null; this.src = './assets/img/logo-CH.png'" alt="back to home">
</div>

<address>
	<span class="hidden-xs">Schweizerisches Bundesarchiv BAR</span>
	<!--nav class="pull-right">
        <ul>
            <li><a href="#{{ '/de/rechtliches' | localizeLink }}">{{ 'Rechtliches' | translate:'navigation.legal' }}</a></li>
            <li><a href="#{{ '/de/nutzungsbestimmungen' | localizeLink }}">{{ 'Nutzungsbestimmungen' | translate:'navigation.termsOfUse' }}</a></li>
            <li><a href="#{{ '/de/kontakt' | localizeLink }}">{{ 'Kontakt' | translate:'navigation.contact' }}</a></li>
        </ul>
    </nav-->
</address>
