<div *ngIf="!loading">
	<h1>Zentralisierte Parameterverwaltung</h1>
	<div class="row">
		<div class="col-md-4">
			<input type="text" class="form-control" [value]="searchString" (change)="onValueChanged($event)"/>
		</div>
		<div class="col-md-1">
			<input type="button" (click)="searchParam()" value="Suchen" class="btn"/>
		</div>
		<div class="col-md-6">

		</div>
		<div class="col-md-1">
			<input type="button" (click)="emitValidationEvent()" value="Validieren" class="btn"/>
		</div>
	</div>
	<div class="row">
		<b class="col-md-3">Name</b>
		<b class="col-md-3">Standardwert</b>
		<b class="col-md-4">Wert</b>
	</div>
	<div *ngFor="let param of filteredParameters">
		<cmi-viaduc-parameter [searchString]="searchedStringUpToDate ? searchString : ''" [parameter]="param" [validationEvent]="validationEvent"></cmi-viaduc-parameter>
	</div>
</div>
<div *ngIf="loading">
	<cmi-blocker class="cmi-visible cmi-fixed cmi-center cmi-shadow">
		<cmi-spinner></cmi-spinner>
	</cmi-blocker>
</div>
